/* @tailwind base;
@tailwind components;
@tailwind utilities;

@import "daisyui";

/* Optional: smooth background & text color transition for dark mode */
html {
  transition: background-color 0.3s, color 0.3s;
}
